/* PAGINA UBICACION */
/* Style 5.ubicacion */

/* RE ARMAR UBICACION PROVISORIO */

#ubicacion-principal
    color: white
    height: 700px 
    

.mapa-google-map 
    margin: auto
    padding-top: 20px
    float: left
    padding-left: 15%


.mapaGoogleMap h2 

    margin-bottom: 2em



.seccion-ubicacion-datos 
    background-color: rgba(179, 231, 248, 0.281)
    height: 450px
    float: right
    margin-right: 15%
    margin-top: 2.5%
    border: 2px solid black
    width: 650px



.seccion-ubicacion-datos ul li 
    list-style: none
    margin-left: 2em
    text-align: left



.seccion-ubicacion-datos ul li p 

    font-weight: bold


.seccion-ubicacion 
    display: flex



#ubicacion-principal h2 
    text-align: center
    margin-right: 10%

.direcciones-box 

    margin-block-start: 1em
    margin-block-end: 1em
    margin-inline-start: 0px
    margin-inline-end: 0px
    font-size: 1em


