@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;700&family=Open+Sans&family=Oswald&family=Roboto+Condensed:wght@700&display=swap')

$colorprincipal: #046bba
$colortexto: #fff
$colorspan: #7be3fa
// /* Fuentes
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: #046bba !important
    height: 100vh
    width: 100%

main
    height: auto !important

/* PAGINA INICIO */
/* Style index */

.carretel

    min-height: auto
    background-position: center
    background-size: cover
    background-color: $colorprincipal

#inicio-principal

    display: flex
    background-color: $colorprincipal
    align-items: center
    height: 1000px
    margin: auto

.w-100
    max-height: 700px !important

.inicio-aside

    background-color: $colortexto
    text-align: center
    opacity: 0.5

.inicio-aside

    h2
        margin: 20px 0 0 0

.principal

    width: 100%
    background-color: $colorprincipal
    padding-top: 1em

.principal

    h1
        text-align: center
        color: $colortexto
        margin-bottom: 4em

.principal-img-article
    width: 98%
    display: flex
    margin: 10px
    word-wrap: break-word

.principal-img

    background-image: url(../multimedia/img/clinica.jpg)
    height: 360px
    width: 100%
    min-width: 40%
    background-position: center
    background-size: cover
    border: 3px solid $colortexto
    margin: 10px
    align-self: center

.principal-img2

    background-image: url(../multimedia/img/clinica.jpg)
    height: 360px
    width: 100%
    min-width: 40%
    background-position: center
    background-size: cover
    border: 3px solid $colortexto
    margin: 10px
    display: none

.principal-article,
.principal-article-2 p

    max-height: 460px
    display: block
    margin-block-start: 1em
    margin-block-end: 1em
    margin-inline-start: 0px
    margin-inline-end: 0px
    margin-top: 40px
    color: $colortexto
    font-size: 1em

.principal-article-2
    p
        padding-left: 10px
        width: 99%

@import "__contacto"
@import "__nosotros"
@import "__servicio"
@import "__ubicacion"
@import "__footer"
@import "__header"
@import "__mediaquery"
